body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #fefefe;
}

#app {
  height: 100%;
}

.rounds {
  display: flex;
  flex-direction: column;
  height: 100%
}

.finished {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: #5863f8;
  color: #fefefe;
}
.active .controller {
  visibility: hidden;
}
.active:hover .controller {
  visibility: visible;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  overflow: hidden;
}

.round {
  padding: 10px;
  width: 80vw;
  text-align: center;
}
.round .timer {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.round .blinds {
  font-size: 14px;
  display: flex;
  justify-content: center;
}
.round .blinds span {
  align-self: center;
  flex: 1;
}
.round .blinds span.small {
  text-align: right;
}
.round .blinds span.big {
  text-align: left;
}
.round .blinds span.divider {
  font-size: 10px;
  margin: 0 2px;
  flex: 0 0 auto;
}
.round .controller {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.active .round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  position: relative;
}
.active .round .timer {
  font-size: 96px;
}
.active .round .blinds {
  font-size: 64px;
}
.active .round .blinds span.divider {
  font-size: 48px;
  margin: 0 10px;
}
